/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
video { position: relative; z-index: 10; }
/*** END Z-INDEXES ***/

/*** COLORS ***/{% assign vColor = "DA301E" %}
.u-brandCTA { background-color: #{{ vColor }}; }

label.u-brandCTA {// background-color: black; }

.u-brandCTA { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face { font-family: "CrackMan"; src: url("/assets/fonts/crackman.ttf"); }
@font-face { font-family: "CrackMan Front"; src: url("/assets/fonts/crackman front.ttf"); }
@font-face { font-family: "Impact"; src: url("/assets/fonts/impact.ttf"); }

* { font-family: "Impact"; word-spacing: .15em; }
.d-brandFont, .d-brandFont * { font-family: "CrackMan Front"; }

	 { letter-spacing: .1em; line-height: 1.15em; word-spacing: initial !important; }

.shop { text-align: center; }
.header nav div,
.header p { text-align: right; }
a.u-brandCTA,
label.u-brandCTA { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
* { background-size: cover; background-position: center; }

.shop figure span { background-image: url("/assets/images/thedress.gif"); }
.shop figure span { background-position: center -3em; }
/*** END MEDIA ***/

/*** UTILITIES ***/
	/*** .u-brandCTA ***/
	.u-brandCTA {
		padding: 0 .5em;
		border-radius: 1.8em;
	}
		a.u-brandCTA,
		label.u-brandCTA {
			padding: .25em .75em;
			margin: .25em;
		}
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	main { display: flex !important; }
	main { flex-direction: column; }
	.videos { flex: 1; }

	video,
	.shop img, .shop figure span { border-radius: 7.5px; overflow: hidden; }

	/*** .header ***/
	.header nav { display: flex; }
	
	.header nav img {
		width: auto;
	}
	
	/*** .videos ***/
	.videos { overflow-x: auto; padding: .3em; }
	.videos_dock {
		width: 100%; height: 100%;
	}
	.videos figure {
		position: relative;
		margin-right: 1em;
	}
	.videos figure, .videos img {
		display: inline-block;
		width: auto; height: 100%;
	}
		.videos video {
			position: absolute; top: 0; left: 0;
			width: auto; height: 100%;
			
			background-color: white;
		}
	
	/*** .shop ***/
	.shop_dock { display: flex; }
	.shop_dock { flex-direction: column; }
	.shop figure { flex: 1; }
	
	.shop {
		position: fixed; top: 0; left: 0; right: 0;
		width: 100%; height: 100%;
	}
	.shop figure span {
		width: 100%; height: 100%;
	}
	
	.shop div img {
		width: auto; height: 18vh;
	}
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
label { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
	/*** FONTS ***/
	html { font-size: 14px; }
	.header p { font-size: 1.8em; }
	
	/*** COMMONS ***/
	main,
	.shop { padding: 1em; }
	
	/*** COMPONENTS: .header ***/
	.header nav img { height: 3em; }
		.header p {// margin-left: 1em; }
	
	.header p { padding: 1em 0; }
	
	/*** COMPONENTS: .shop ***/
	.shop_dock { width: 100%; height: 100%; }
	.shop figure { padding: 1em 1em 3em 1em; }
	
	/*** INTERACTIVITY ***/
	.shop { display: none !important; }
	#chbx4thedress:checked ~ main .shop { display: block !important; }
	
	/*** VIEWPORT ***/
	.videos_dock { width: 190%; width: 100vh; }
	.header nav { align-items: flex-start !important; }
	.header nav div { padding-top: .5em; }
	.header a { display: inline !important; }
	.header p { text-align: center; }
	.videos_dock { padding-bottom: 3em; }
	
	.cta { padding: 2.5em 0 1em 0; }
	
	.shop { background-color: white; }
	
	.shop { z-index: 18; }
}
@media all and (min-width: 50em) {
	/*** FONTS ***/
	html { font-size: 18px; }
	.header p { font-size: 3em; }
	
	/*** COMMONS ***/
	main,
	.shop { padding: 1em .5em .5em .5em; }
	
	/*** COMPONENTS: .header ***/
	.header nav img { height: 4em; }
		.header p { margin-left: 4em; }
	
	.header p { padding: .5em 0; }
		
	/*** COMPONENTS: .shop ***/
	.shop figure { padding: .25em 0 3em 3em; }
	
	/*** VIEWPORT ***/
	.shop label { display: none !important; }
	.header nav div > br:nth-child(1),
	.header nav div > br:nth-child(2) { display: none; }
	.header img { padding-left: 1.8em; }
	
	.header,
	.videos { width: 70%; }
	
	.shop_dock {
		position: relative; left: 70%;
		width: 30%; height: 100%;
	}
	.shop_dock > div { margin-left: 3em; }
	main,
	.shop { padding-right: 1em; }
	
	.cta { display: none !important; }
}

@media all and (orientation: landscape) {}
@media all and (orientation: portrait) {}
/*** END MEDIA-QUERIES ***/

/*** TOOLS ***/
	/*** .CSScentered ***/
	.CSScentered {
		display: flex;
		align-items: center; justify-content: center;
	}
	
	/*** .CSSmidwrap ***/
	.CSSmidwrap {
		max-width: 75em;
		display: block; margin: auto;
	}
	
	/*** .CSSspacer ***/
	.CSSspacer { flex: 1; }
/*** END TOOLS ***/