/*** CANCEL ***/
html, body { width: 100%; height: 100%; }
main { min-height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.header-hgroup-h1 { position: relative; z-index: 10; }
.brand-content-media { position: relative; z-index: 20; }
/*** END Z-INDEXES ***/

/*** COLORS ***/{% assign vColorPurple = '#340853' %}
 { background-color: {{ vColorPurple }}; }
 { background-color: purple; }
 
.header-hgroup-h1,
.solutions-content-service-details-h5,
.u-btnCta,
.u-btnNav { color: white; }

.u-btnCta,
.u-btnNav { background-color: black; }

.brand-content-p { background-color: white; }


.solutions-content-service-figure-media:nth-child(1) { background-color: white; }
.solutions-content-service-figure-media:nth-child(2) { background-color: purple; }
.brand-content-media { background-color: purple;// opacity: .5; }
.brand-content-map { background-color: white; }
/*** END COLORS ***/

/*** FONTS ***/
.solutions-content-service-details-p,
.u-btnCta,
.u-btnNav { font-family: "Impact"; word-spacing: .15em; }
	.solutions-content-service-details-p,
	.u-btnCta,
	.u-btnNav {// letter-spacing: .1em; font-size: .9em; }
* { font-family: "Bauhaus"; line-height: 1.15em; word-spacing: initial !important; }
.header-hgroup-h1,
.d-handwritten { font-family: "The Rich Jullietta DEMO"; }

.brand,
.solutions,
.u-btnNav { text-align: center; }
/*** END FONTS ***/

/*** MEDIA ***/
* { background-size: cover; }

main { background-image: url("/assets/images/purple-background.png"); }
/*** END MEDIA ***/

/*** UTILITIES ***/
	/*** COMMONS ***/
	.u-btnCta,
	.u-btnNav,
	.u-btnStars { display: inline-block; }

	/*** .u-btnCta ***/
	
	/*** .u-btnNav ***/
	.u-btnNav { border-radius: 50%; }
	
	/*** .u-btnStars ***/
	.u-btnStars_wrap { display: flex; }
	.u-btnStars_wrap { flex-direction: row-reverse; }
	.u-btnStars_wrap { justify-content: center; }
	
	.u-btnStars.is-voted,
	.u-btnStars.is-voted ~ .u-btnStars,
	.u-btnStars:hover,
	.u-btnStars:hover ~ .u-btnStars {
		color: yellow;
	}
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	
	/*** .brand ***/
	.brand-content-map {
		display: block;
	}
	.brand-content-media {
		position: relative;
		display: block;
	}
	.brand-content-media:before {
		content: "" !important; position: absolute !important; top: 0 !important; left: 0 !important; z-index: 100 !important;
		width: 50% !important; height: 100% !important;
		display: block !important;
		background-color: green !important;
	}
	
	/*** .header ***/
	.header-hgroup-span {
		position: relative; top: .75em; left: 2.5em;
	}
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
.u-btnCta,
.u-btnNav,
.u-btnStars { cursor: pointer; }

.solutions-content-service-figure-media { display: none; }{% for i in (1..2) %}
.solutions-content-service-figure.is-nthChild{{ i }} .solutions-content-service-figure-media:nth-child({{ i }}),{% endfor %}
.jekyllPlaceholderClassName { display: block !important; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
	/*** FONTS ***/
	html { font-size: 16px; }
	.header-hgroup-h1 { font-size: 18vw; }
	.header-hgroup-span { font-size: 8vw; }
	.brand-title,
	.solutions-title { font-size: 1.8em; }
	
	/*** UTILITIES: COMMONS ***/
	.u-btnCta,
	.u-btnNav,
	.u-btnStars {// margin: .25em 0; }
	.u-btnNav,
	.u-btnStars { width: 1.25em; height: 1.25em; }
	
	/*** UTILITIES: .u-btnCta ***/
	.u-btnCta { padding: .25em 1em .5em 1em; border-radius: 1em; }
	
	/*** COMPONENTS: COMMONS ***/
	.brand-title,
	.solutions-title { padding: .75em .25em; }
	.solutions-content-service-figure-media { border-radius: .25em; }
		.brand-content-p:nth-child(1) { border-radius: .25em .25em 0 0; }
	
	/*** .brand ***/
	.brand-content-map { margin: 0 1.25em; aspect-ratio: 4/1; }
	.brand-content-p { padding: .5em; margin: 0 1.8em; }
	
	/*** .solutions ***/
	.solutions-content-service { display: flex; }
	.solutions-content-service-details { display: flex; flex-direction: column; }
	.solutions-content-list-item:nth-child(even) .solutions-content-service { flex-direction: row-reverse; }
	.solutions-content-service-details,
	.solutions-content-service-details-p { flex: 1; }
	
	.solutions-content-service-figure { width: 40% !important; }
	
	
	.solutions-content-service { padding: .5em; }
		.solutions-content-list-item:nth-child(odd) .solutions-content-service-figure { padding-right: .5em; }
		.solutions-content-list-item:nth-child(even) .solutions-content-service-figure { padding-left: .5em; }
		
	.solutions-content-service-figure-media { aspect-ratio: 9/16; }
	
	/*** CSS-HACKS ***/
	.u-btnCta { margin: .25em 0; }
	
	/*** SYNCs ***/
}
@media all and (min-width: 300px) {
	/*** COMPONENTS: .solutions ***/
	.solutions-content-service-figure-media { aspect-ratio: 3/4; }
}
@media all and (min-width: 50em) {
	/*** FONTS ***/
	html { font-size: 19px; }
	.header-hgroup-h1 { font-size: 7em; }
	 { font-size: 5em; }
	.header-hgroup-span { font-size: 3em; }
}

@media all and (orientation: landscape) {}
@media all and (orientation: portrait) {}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
	/*** .d-cssCentered ***/
	.d-cssCentered {
		display: flex;
		align-items: center; justify-content: center;
	}
	
	/*** .d-midWrap ***/
	.d-midWrap {
		max-width: 65em;
		display: block;
		margin: auto;
	}
	
	/*** .d-snapPoints ***/{% assign vSnaps = 2 %}
/*	.d-snapPoints-grandParent,
	.d-snapPoints-parent { width: 100%; height: 100%; }
	.d-snapPoints-parent { width: {{ 100 | times: vSnaps }}%; }
	.d-snapPoints-grandParent {
		overflow: auto;
		
		scroll-snap-type: mandatory;
		-webkit-scroll-snap-type: mandatory;
		-ms-scroll-snap-type: mandatory;
		-o-scroll-snap-type: mandatory;
		
		scroll-snap-points-x: repeat({{ 100 | divided_by: vSnaps }}%);
		-webkit-scroll-snap-points-x: repeat({{ 100 | divided_by: vSnaps }}%);
		-ms-scroll-snap-points-x: repeat({{ 100 | divided_by: vSnaps }}%);
		-o-scroll-snap-points-x: repeat({{ 100 | divided_by: vSnaps }}%);
		
		scroll-snap-type: x mandatory;
		-webkit-scroll-snap-type: x mandatory;
		-ms-scroll-snap-type: x mandatory;
		-o-scroll-snap-type: x mandatory;
	}
	.d-snapPoints {
		width: {{ 100 | divided_by: 2 }}%; height: 100%;
		float: left;
//		border: 1px solid purple;
		
		scroll-snap-align: center;
		-webkit-scroll-snap-align: center;
		-ms-scroll-snap-align: center;
		-o-scroll-snap-align: center;
	}*/
/*** END DECORATION ***/

/*** CSS HACKS ***/
/*** END CSS HACKS ***/