/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }

 { pointer-events: none; }
 { text-wrap: nowrap !important; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.registry-products { position: relative; z-index: 10; }
.registry-footer { position: relative; z-index: 20; }
.registry-header { position: relative; z-index: 30; }
/*** END Z-INDEXES ***/

/*** COLORS ***/{% assign vColorPurple = '#340853' %}
 { background-color: {{ vColorPurple }}; }
 { background-color: purple; }

.registry-header-title,
.registry-products-item span { background-color: #AAA; }

.registry-footer { background-color: white; }
 { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
* { font-family: "Impact"; word-spacing: .15em; }
	 { letter-spacing: .1em; }
 { font-family: "Bauhaus"; line-height: 1.15em; word-spacing: initial !important; }
 { font-family: "The Rich Jullietta DEMO"; }

 { font-size: 1em; }
 { font-size: .75em; }

.registry-footer,
.registry-products-item span { text-align: right; }
/*** END FONTS ***/

/*** MEDIA ***/
* { background-size: cover; }

main {// background-image: url("/assets/images/purple-background.png"); }
	main {
//		background-position: fixed;
	}
/*** END MEDIA ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/

	/*** .registry ***/
	.registry,
	.registry-content,
	.registry-header { display: flex; }
	.registry-content,
	.registry-header { flex-direction: column; }
	.registry-content,
	.registry-products,
	.registry-header-title { flex: 1; }
	
	.registry {
		width: 100%; height: 100%;
	}
	
	.registry-products {
//		background-color: green;
	}
	.registry-products-item { margin: 0 1em; }
	.registry-products-item-price {
		display: block;
		padding: .5em;
	}
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
.registry-header-title { cursor: pointer; }

.registry-products { display: none; }{% for i in (1..10) %}
#rdb4category{{ i }}:checked ~ main .registry-products.nthChild{{ forloop.index }}, {% endfor %}
.jekyllPlaceholderClassname { display: grid !important; }

.registry-products-item.is-off { display: none !important; }

.registry-header-title:hover,
.registry-header-title:active,
.registry-header-title:focus, {% for i in (1..10) %}
#rdb4category{{ i }}:checked ~ main .registry-header-title:nth-child({{ i }}), {% endfor %}
.jekyllPlaceholderClassname { background-color: green !important; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
	/*** FONTS ***/
	html { font-size: 14px; }
	.registry-header-title,
	.registry-products-item-price { font-size: 1.5em; }
	
	/*** COMPONENTS: .registry ***/
	.registry-footer { padding: 1em; }
	.registry-products-item-image,
	.registry-products-item-description { margin: .75em 0; }
	.registry-header-title { padding: .75em; }
	
	/*** CSS-HACKS ***/
	.registry-footer { padding-left: 3em; }
	.registry-products { margin-left: 3.1em; }
		.registry-products { padding-bottom: {{ 1 | plus: 4 }}em; }
}
@media all and (min-width: 50em) {
	/*** FONTS ***/
	html { font-size: 18px; }
	.registry-header-title,
	.registry-products-item-price { font-size: 1.8em; }
	
	/*** COMPONENTS: .registry ***/
	.registry-footer,
	.registry-products { padding: 1em; }
	.registry-products-item-image,
	.registry-products-item-description { margin: 1em 0; }
	.registry-header-title { padding: 1em; }
	
	/*** VIEWPORT ***/
	.registry-products { grid-template-columns: 33.333% 33.333% 33.333%; }
	
	/*** CSS-HACKS ***/
	.registry-footer { padding-left: 4em; }
	.registry-products { margin-left: 4.6em; }
		.registry-products { padding-bottom: {{ 1.8 | plus: 2.5 }}em; }
}

@media all and (orientation: landscape) {}
@media all and (orientation: portrait) {}
/*** END MEDIA-QUERIES ***/

/*** CSS TOOLS ***/
	/*** .CSScentered ***/
	.CSScentered {
		display: flex;
		align-items: center; justify-content: center;
	}
	
	/*** .CSSmiddle ***/
	.CSSmiddle {
		max-width: 75em;
		display: block;
		margin: auto;
	}
/*** END CSS TOOLS ***/

/*** CSS-HACKS ***/
.registry-footer,
.registry-header { position: fixed; }

.registry-footer {
		bottom: 0; right: 0;
		width: 100%;
}
.registry-header {
		top: 0; left: 0;
		height: 100%;
}
/*** END CSS-HACKS ***/