/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.coupon { position: relative; z-index: 10; }
.coupon label { position: relative; z-index: 20; }
/*** END Z-INDEXES ***/

/*** COLORS ***/{% assign vColor = "DA301E" %}
.coupon-content-code span:nth-child(1),
.coupon-content-code span:nth-child(2),
.u-brandCTA { background-color: #{{ vColor }}; }
.header h1 { color: #{{ vColor }}; }

label.u-brandCTA {// background-color: black; }

.u-brandCTA { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face { font-family: "CrackMan"; src: url("/assets/fonts/crackman.ttf"); }
@font-face { font-family: "CrackMan Front"; src: url("/assets/fonts/crackman front.ttf"); }
@font-face { font-family: "Impact"; src: url("/assets/fonts/impact.ttf"); }

* { font-family: "Impact"; word-spacing: .15em; }
.header h1,
.d-brandFont, .d-brandFont * { font-family: "CrackMan Front"; }

	 { letter-spacing: .1em; line-height: 1.15em; word-spacing: initial !important; }

.header h1 { font-size: 1.8em; }

a.u-brandCTA,
label.u-brandCTA { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
* { background-size: cover; background-position: center; }
/*** END MEDIA ***/

/*** UTILITIES ***/
	/*** .u-brandCTA ***/
	.u-brandCTA {
		padding: 0 .5em;
		border-radius: 1.8em;
	}
		a.u-brandCTA,
		label.u-brandCTA {
			padding: .25em .75em;
			margin: .25em;
		}
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	main {
		position: relative;
		padding: 1em;
	}
	
	/*** .coupon ***/
	.coupon-content-code { display: flex; }
	.coupon-content-code { align-items: center; }
	
	.coupon label {
		position: fixed; top: 0; right: 0;
	}
	
	.coupon-content { top: 0; right: 0; }
	.coupon-content-code span:nth-child(1),
	.coupon-content-code span:nth-child(2) {
		padding: 1em;
		margin-right: 1em;
	}

	/*** .header ***/
	.header figure { display: flex; }
	.header figure { align-items: center; }
	
	.header h1 { display: inline-block !important; }
	.header img {
		width: auto;
		margin-right: 1em;
	}
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
label { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 60em) {
	/*** FONTS ***/
	html { font-size: 14px; }
	
	/*** COMPONENTS: .coupon ***/
	.coupon-content { position: fixed; }
	.coupon-content {
		width: 100%; height: 100%;
		display: block;
		
		background-color: green;
	}
	
	/*** COMPONENTS: .header ***/
	.header img { height: 3em; }
	.header a { margin-top: 1em; }
	
	/*** INTERACTIVITY ***/
	.coupon-content { display: none; }
	#chbx4coupon:checked ~ main .coupon-content { display: block; }
	
	/*** VIEWPORT ***/
	.coupon-content-code span:last-child { display: none; }
}
@media all and (min-width: 60em) {
	/*** FONTS ***/
	html { font-size: 18px; }
	
	/*** COMPONENTS: .coupon ***/
	.coupon-content { position: absolute; }
	.coupon-content {
		height: 4em;
		display: inline-block;
	}
	
	/*** COMPONENTS: .header ***/
	.header img { height: 4em; }
	.header a { margin-left: .5em; }
	
	/*** VIEWPORT ***/
	.coupon label { display: none !important; }
	.coupon-content-code { width: 100%; height: 100%; }
	
	.header {
		position: relative;
		padding-left: 5em;
	}
	.header img {
		position: absolute; top: 0; left: 0;
	}
}
/*** END MEDIA-QUERIES ***/

/*** ANIMATIONS ***/
	/*** .d-twinkle ***/
	.d-twinkle { animation: twinkle 1s infinite; }
	@keyframes twinkle { from { transform: scale(1); } to { transform: scale(1.08); } }
/*** END ANIMATIONS ***/

/*** TOOLS ***/
	/*** .CSScentered ***/
	.CSScentered {
		display: flex;
		align-items: center; justify-content: center;
	}
	
	/*** .CSSmidwrap ***/
	.CSSmidwrap {
		max-width: 75em;
		display: block; margin: auto;
	}
	
	/*** .CSSnoWrap ***/
	.CSSnoWrap {
		white-space: nowrap;
		word-break: keep-all;
	}
	
	.CSSspacer { flex: 1; }
/*** END TOOLS ***/