<section class="electedechoes">
	<div class="d-textBG">{% assign varTextBG = "" %}{% for file in site.data.electedechoes.senator_angela-sobey %}
		{% capture varTextBG %}{{ file.transcript | replace: " ", "/" | replace: ".", "/" | replace: ",", "/" | replace: "!", "/" | replace: "'", "/" | replace: "?", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | downcase }}{% endcapture %}
	{% endfor %}
	
	{% for i in (1..3) %}
		{% capture varTextBG %}{{ varTextBG | replace: "//", "/" }}{% endcapture %}

		{% capture varTextBG %}{{ varTextBG | replace: "/a/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/an/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/and/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/are/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/as/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/but/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/for/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/from/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/here/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/i/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/in/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/is/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/it/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/if/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/let/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/mine/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/my/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/of/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/on/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/or/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/so/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/that/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/this/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/the/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/then/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/there/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/these/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/they/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/those/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/to/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/with/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/yet/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/your/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/yours/", "/" }}{% endcapture %}
		
		{% capture varTextBG %}{{ varTextBG | replace: "/have/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/me/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/mine/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/when/", "/" }}{% endcapture %}
		{% capture varTextBG %}{{ varTextBG | replace: "/you/", "/" }}{% endcapture %}
		
		{% capture varTextBG %}{{ varTextBG | replace: "//", "/" }}{% endcapture %}
	{% endfor %}

	{% assign stringToAnalyze = varTextBG %}
	{% for i in (1..1000) %}
		{% assign arrayToAnalyze = stringToAnalyze | split: '/' %}
		{% if arrayToAnalyze.size <= 100 %}{% break %}{% endif %}
		
		{% capture wordToAnalyze %}{{ arrayToAnalyze[0] }}{% endcapture %}
		{% assign countWordToAnalyze = 0 %}
		{% for newIteration in arrayToAnalyze %}{% if wordToAnalyze == newIteration %}{% capture countWordToAnalyze %}{{ countWordToAnalyze | plus: 1 }}{% endcapture %}{% endif %}{% endfor %}
		{% capture keywordToDelete %}{{ wordToAnalyze }}/{% endcapture %}
		{% capture stringToAnalyze %}{{ stringToAnalyze | remove: keywordToDelete }}{% endcapture %}

		<span class="d-textBG-word" style="font-size: {{ countWordToAnalyze | times: 10 | divided_by: 3.5 }}em;">{{ wordToAnalyze }}</span>
		<!--
		<br />{{ countWordToAnalyze }}/{{ arrayToAnalyze.size }} {{ wordToAnalyze }} ==> {{ stringToAnalyze }}<br />
		-->
	{% endfor %}
	</div>
</section>