---
layout: default
---
		<input type="checkbox" id="chbx4coupon" name="chbx4coupon" />
		<main class="CSSmidwrap">
			<section class="coupon">
				<label for="chbx4coupon">Button</label>
				<div class="coupon-content">
					<div class="coupon-content-code">
						<span>#FirstTimeUserCode</span>
						<span>18% OFF</span>
						<span>Cart</span>
					</div>
				</div>
			</section>
			
			<header class="header">
				<figure>
					<img src="/assets/images/tivitivi-logo.png" />
					<hgroup><h1>TiViTiVi</h1>, for the fans of your favorite TV stars.</hgroup>
				</figure>
				
				<nav>
					<a href="https://youtube.com/@TiViTiVi_ACM" class="u-brandCTA d-twinkle">Subscribe to our Youtube Channel</a>
				</nav>
			</header>
		</main>