---
layout: default
---
		<input type="checkbox" id="chbx4thedress" />
		<main class="CSSmidwrap">
			<header class="header">
				<nav class="CSScentered">
					<img src="/assets/images/tivitivi-logo.png" />
					<div>
						<a href="https://tivitivi-corporomalala-online.translate.goog/?_x_tr_sl=auto&_x_tr_tl=fr&_x_tr_hl=en-GB" class="u-btnLANG u-brandCTA">SITE EN FRANÇAIS?</a>
						<br /><br />
						<a href="https://www.youtube.com/@TiViTiVi_ACM/" class="u-brandCTA" title="Open App">Watch on the Youtube Channel</a>
						<br /><br />
						<a href="https://www.zazzle.fr/store/tivitivi/" class="u-brandCTA">Shop the Merch</a>
					</div>
				</nav>
				
				<p class="CSScentered d-brandFont">"Ordinary days become extraordinary when we share them together."</p>
			</header>
			
			<section class="tv"><div class="tv_dock">
				<div class="tv-videos">{% for file in site.data.highlights %}{% for data in file %}
					<figure>
						<img src="/assets/images/placeholder-19x6.png" />
						
						<video preload="auto" controls><source src="/assets/videos/{% for content in data[0] %}{{ content }}{% endfor %}" type="video/mp4" /></video>
					</figure>
				{% endfor %}{% endfor %}
				</div>
				<div class="tv-ads"><div class="tv-ads_dock">
					<span class="CSSspacer"></span>
					<img src="/assets/images/shirt3.png" />
					<div><a href="https://www.zazzle.fr/bonjour_en_coeur_t_shirt_blanc-256971460683593086" class="CSSnoWrap u-brandCTA">Buy Merch: $25</a></div>
				</div></div>
			</div></section>
			
			<!--
			<section class="new">
				<video preload="auto" controls><source src="/assets/videos/poptheballoon_crew.mp4" type="video/mp4" /></video>
			</section>
			-->
			
			<section class="cta CSScentered">
				<label for="chbx4thedress" class="u-brandCTA">View "The Dress"</label>
			</section>
			
			<section class="shop CSSmidwrap"><div class="shop_dock">
				<div><label for="chbx4thedress">[close window]</label></div>
				<figure class="CSScentered"><span></span></figure>
				<div>
					<div class="shop-gallery">
						<img src="/assets/images/theorangedress_fashionnova_1.jpg" />
						<img src="/assets/images/thepurpledress_fashionnova_1.jpg" />
					</div>
					
					<div class="CSScentered">
						<a href="https://www.fashionnova.com/products/amber-bandage-gown-orange" class="u-brandCTA" title="Go to FashionNova" target="_blank">Found</a>
						
						<a href="https://www.fashionnova.com/products/statements-like-this-midi-dress-purple" class="u-brandCTA" title="Go to FashionNova" target="_blank">Found</a>
					</div>
				</div>
			</div></section>
		</main>